@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Gelasio:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Ribeye:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.title__text {
  text-align: center;
  padding: 0 18%;
}

.text,
.title__text {
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.6;
}

.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 0.8125rem 2rem 0.8125rem 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #C9453B;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header {
  background-color: rgba(81, 98, 114, 0.5294117647);
  position: relative;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  line-height: 1.5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
  font-family: "Ribeye";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  font-weight: 500;
}

.menu {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: rgba(38, 148, 153, 0.1);
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.footer__btn {
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.footer__btn:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__btn::after {
  content: "";
  background: url("../img/icons/arrow.svg") 0 0 no-repeat;
  position: absolute;
  height: 0.9375rem;
  width: 1.25rem;
  top: 25%;
  right: -1.5625rem;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__btn._spoller-active::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
}

.footer__form {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form-footer__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.form-footer__button {
  padding: 0.625rem 2rem;
}

.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.contact-footer:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contact-footer__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Ribeye";
  font-size: 1.5rem;
  line-height: 1.5;
}

.contact-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  cursor: pointer;
}

.input {
  padding: 0.625rem;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.no-webp .main{
  background: url("../img/main.jpg") right/cover no-repeat; }

.main {
  color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container {
  padding-right: 28%;
}

.main__content {
  margin-bottom: 0.625rem;
}

.main__title {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.main__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main__text {
  max-width: 28.125rem;
}

.main__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main__title,
.main__text,
.main__button {
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.loaded .main__title {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.loaded .main__text {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.loaded .main__title,
.loaded .main__text,
.loaded .main__button {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.location__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
}

.item-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-loc__image-ibg {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  padding-bottom: 92%;
}

.item-loc__image-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-loc__title {
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.item-loc__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-loc__body {
  text-align: center;
}

.swiper-wrapper {
  margin-bottom: 2.5rem;
}

.swiper-slide__image-ibg {
  display: block;
  padding-bottom: 66%;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide__image-ibg:not(:last-child) {
  margin-bottom: 1.25rem;
}

.swiper-slide__image-ibg img {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-slide__body {
  margin-left: 0.625rem;
  color: rgba(0, 0, 0, 0.6784313725);
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.swiper-slide__title {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000000;
}

.swiper-slide__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.swiper-slide__location {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: url("../img/icons/pin.svg") 0 center no-repeat;
  padding-left: 1.25rem;
  font-size: 1.25rem;
}

.swiper-slide__rating {
  background: url("../img/icons/star.svg") 0 3px no-repeat;
  padding-left: 2.125rem;
  font-size: 1.125rem;
  line-height: 1.7;
  color: #000000;
}

.swiper-slide__price span {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000000;
}

.swiper__actions {
  margin: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-prev {
  background: url("../img/icons/arrow.svg") 0 0 no-repeat;
  height: 0.75rem;
  width: 0.875rem;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  z-index: 5;
  display: inline-block;
  width: 4.6875rem;
  height: 0.3125rem;
  background-color: rgba(201, 69, 59, 0.2745098039);
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  background-color: #C9453B;
}

.swiper-button-next {
  background: url("../img/icons/arrow.svg") 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 0.75rem;
  width: 0.875rem;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.blog__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.625rem;
}

.blog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.blog__column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-blog__image-ibg {
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 71.6%;
}

.column-blog__image-ibg:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.column-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.column-blog__title {
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

.column-blog__text {
  line-height: 1.6;
  opacity: 0.6;
}

.column-blog__link {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-blog__image-ibg {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.2%;
          flex: 0 0 47.2%;
  padding-bottom: 36.3%;
}

.item-blog__body {
  margin-left: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.item-blog__title {
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

.item-blog__text {
  line-height: 1.6;
  opacity: 0.6;
}

.item-blog__link {
  line-height: 1.5;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__btn::after {
    display: none;
  }
}

@media (min-width: 73.125em) {
  .title {
    font-size: 2.6875rem;
  }

  .header {
    height: 7.5rem;
  }

  .header {
    padding-top: 2.1875rem;
  }

  .header {
    padding-bottom: 2.1875rem;
  }

  .footer {
    padding-bottom: 4.375rem;
  }

  .footer {
    padding-top: 4.375rem;
  }

  .footer__menu {
    gap: 7.5rem;
  }

  .form-footer__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .input {
    margin-right: 2.1875rem;
  }

  .main__content {
    margin-top: 7.5rem;
  }

  .main__title {
    font-size: 4.0625rem;
  }

  .location {
    margin-top: 8.75rem;
  }

  .location {
    margin-bottom: 8.75rem;
  }

  .location__text {
    margin-bottom: 3.125rem;
  }

  .location__items {
    gap: 1.875rem;
  }

  .item-loc__body {
    padding: 1.875rem;
  }

  .page__offer {
    margin-bottom: 8.75rem;
  }

  .offer__container {
    margin-bottom: 3.75rem;
  }

  .swiper__actions {
    gap: 3.125rem;
  }

  .blog {
    margin-bottom: 8.75rem;
  }

  .blog__text {
    margin-bottom: 3.125rem;
  }

  .blog__items {
    gap: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    row-gap: 0.625rem;
  }

  .menu__link {
    font-size: 1.0625rem;
  }

  .blog__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog__column1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 37.5rem;
            flex: 0 1 37.5rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .title__text {
    padding: 0;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: rgba(81, 98, 114, 0.7019607843);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #516272;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFFFFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .item-blog__body {
    margin-left: 0.9375rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 22.5em) {
  .menu__body {
    padding-top: 5.625rem;
  }

  .menu__body::before {
    height: 5.625rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.5em) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 3.4375rem;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    font-size: 1.25rem;
  }

  .swiper-slide__image-ibg {
    border-radius: 0;
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 1.5625rem;
    height: 0.625rem;
  }

  .column-blog__image-ibg:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .item-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.3125rem;
  }

  .item-blog__image-ibg {
    padding-bottom: 71.6%;
  }

  .item-blog__body {
    gap: 0rem;
  }
}

@media (max-width: 22.5em) {
  .title {
    font-size: 2.0625rem;
  }

  .header {
    height: 4.375rem;
  }

  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer__menu {
    gap: 2.5rem;
  }

  .form-footer__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .input {
    margin-right: 0.625rem;
  }

  .main__content {
    margin-top: 5.625rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .location {
    margin-top: 1.875rem;
  }

  .location {
    margin-bottom: 1.875rem;
  }

  .location__text {
    margin-bottom: 1.25rem;
  }

  .location__items {
    gap: 0.625rem;
  }

  .item-loc__body {
    padding: 0.3125rem;
  }

  .page__offer {
    margin-bottom: 1.875rem;
  }

  .offer__container {
    margin-bottom: 1.25rem;
  }

  .swiper__actions {
    gap: 1.25rem;
  }

  .blog {
    margin-bottom: 1.875rem;
  }

  .blog__text {
    margin-bottom: 1.25rem;
  }

  .blog__items {
    gap: 0.9375rem;
  }
}

@media (min-width: 22.5em) and (max-width: 73.125em) {
@supports (font-size: clamp( 2.0625rem , 1.7847222222rem  +  1.2345679012vw , 2.6875rem )) {
    .title {
      font-size: clamp( 2.0625rem , 1.7847222222rem  +  1.2345679012vw , 2.6875rem );
    }
}

@supports not (font-size: clamp( 2.0625rem , 1.7847222222rem  +  1.2345679012vw , 2.6875rem )) {
    .title {
      font-size: calc(2.0625rem + 0.625 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (height: clamp( 4.375rem , 2.9861111111rem  +  6.1728395062vw , 7.5rem )) {
    .header {
      height: clamp( 4.375rem , 2.9861111111rem  +  6.1728395062vw , 7.5rem );
    }
}

@supports not (height: clamp( 4.375rem , 2.9861111111rem  +  6.1728395062vw , 7.5rem )) {
    .header {
      height: calc(4.375rem + 3.125 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem )) {
    .header {
      padding-top: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem )) {
    .header {
      padding-top: calc(0.625rem + 1.5625 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem )) {
    .header {
      padding-bottom: calc(0.625rem + 1.5625 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1388888889rem  +  6.1728395062vw , 4.375rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , -0.1388888889rem  +  6.1728395062vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1388888889rem  +  6.1728395062vw , 4.375rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 3.125 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.1388888889rem  +  6.1728395062vw , 4.375rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -0.1388888889rem  +  6.1728395062vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.1388888889rem  +  6.1728395062vw , 4.375rem )) {
    .footer {
      padding-top: calc(1.25rem + 3.125 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (gap: clamp( 2.5rem , 0.2777777778rem  +  9.8765432099vw , 7.5rem )) {
    .footer__menu {
      gap: clamp( 2.5rem , 0.2777777778rem  +  9.8765432099vw , 7.5rem );
    }
}

@supports not (gap: clamp( 2.5rem , 0.2777777778rem  +  9.8765432099vw , 7.5rem )) {
    .footer__menu {
      gap: calc(2.5rem + 5 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.5208333333rem  +  3.7037037037vw , 2.1875rem )) {
    .form-footer__title:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.5208333333rem  +  3.7037037037vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.5208333333rem  +  3.7037037037vw , 2.1875rem )) {
    .form-footer__title:not(:last-child) {
      margin-bottom: calc(0.3125rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-right: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem )) {
    .input {
      margin-right: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -0.0694444444rem  +  3.0864197531vw , 2.1875rem )) {
    .input {
      margin-right: calc(0.625rem + 1.5625 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-top: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem )) {
    .main__content {
      margin-top: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem );
    }
}

@supports not (margin-top: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem )) {
    .main__content {
      margin-top: calc(5.625rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.875rem , 0.9027777778rem  +  4.3209876543vw , 4.0625rem )) {
    .main__title {
      font-size: clamp( 1.875rem , 0.9027777778rem  +  4.3209876543vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 0.9027777778rem  +  4.3209876543vw , 4.0625rem )) {
    .main__title {
      font-size: calc(1.875rem + 2.1875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-top: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .location {
      margin-top: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .location {
      margin-top: calc(1.875rem + 6.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .location {
      margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .location {
      margin-bottom: calc(1.875rem + 6.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem )) {
    .location__text {
      margin-bottom: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem )) {
    .location__text {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (gap: clamp( 0.625rem , 0.0694444444rem  +  2.4691358025vw , 1.875rem )) {
    .location__items {
      gap: clamp( 0.625rem , 0.0694444444rem  +  2.4691358025vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.0694444444rem  +  2.4691358025vw , 1.875rem )) {
    .location__items {
      gap: calc(0.625rem + 1.25 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (padding: clamp( 0.3125rem , -0.3819444444rem  +  3.0864197531vw , 1.875rem )) {
    .item-loc__body {
      padding: clamp( 0.3125rem , -0.3819444444rem  +  3.0864197531vw , 1.875rem );
    }
}

@supports not (padding: clamp( 0.3125rem , -0.3819444444rem  +  3.0864197531vw , 1.875rem )) {
    .item-loc__body {
      padding: calc(0.3125rem + 1.5625 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .page__offer {
      margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .page__offer {
      margin-bottom: calc(1.875rem + 6.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.1388888889rem  +  4.9382716049vw , 3.75rem )) {
    .offer__container {
      margin-bottom: clamp( 1.25rem , 0.1388888889rem  +  4.9382716049vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1388888889rem  +  4.9382716049vw , 3.75rem )) {
    .offer__container {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem )) {
    .swiper__actions {
      gap: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem )) {
    .swiper__actions {
      gap: calc(1.25rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .blog {
      margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.1805555556rem  +  13.5802469136vw , 8.75rem )) {
    .blog {
      margin-bottom: calc(1.875rem + 6.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem )) {
    .blog__text {
      margin-bottom: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4166666667rem  +  3.7037037037vw , 3.125rem )) {
    .blog__text {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5208333333rem  +  1.8518518519vw , 1.875rem )) {
    .blog__items {
      gap: clamp( 0.9375rem , 0.5208333333rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5208333333rem  +  1.8518518519vw , 1.875rem )) {
    .blog__items {
      gap: calc(0.9375rem + 0.9375 * (100vw - 22.5rem) / 50.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 73.125em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::before {
    height: 7.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 22.5em) and (max-width: 73.125em) {
@supports (padding-top: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem )) {
    .menu__body {
      padding-top: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem )) {
    .menu__body {
      padding-top: calc(5.625rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}

@supports (height: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem )) {
    .menu__body::before {
      height: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem );
    }
}

@supports not (height: clamp( 5.625rem , 4.7916666667rem  +  3.7037037037vw , 7.5rem )) {
    .menu__body::before {
      height: calc(5.625rem + 1.875 * (100vw - 22.5rem) / 50.625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #FFFFFF;
    color: #C9453B;
    border: 0.125rem solid #C9453B;
    padding: 0.6875rem 1.875rem 0.6875rem 1.875rem;
  }

  .header__logo:hover {
    color: #C9453B;
  }

  .menu__link:hover {
    color: #C9453B;
  }

  .footer__item:hover {
    text-decoration: underline;
  }

  .form-footer__button:hover {
    padding: 0.5625rem 1.875rem;
  }

  .contact-footer__link:hover {
    text-decoration: underline;
  }

  .item-loc__image-ibg img:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }

  .swiper-slide__image-ibg img:hover {
    -webkit-transform: scale(1.14);
        -ms-transform: scale(1.14);
            transform: scale(1.14);
  }

  .swiper-button-prev:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .swiper-button-next:hover {
    -webkit-transform: rotate(540deg);
        -ms-transform: rotate(540deg);
            transform: rotate(540deg);
  }

  .column-blog__link:hover {
    color: #C9453B;
  }

  .item-blog__link:hover {
    color: #C9453B;
  }
}

.webp .main{ background: url(../img/main.webp) right/cover no-repeat; }